
/* MEDIA QUERIES - Changes the font-sizes of heading and paragraph on the main home section image (just below the navbar) according to different viewport. Also changes the card container width on medium to xl sizes and sets 10px margin all across.  */

@media(min-width: 0px) {
  .img-heading {
    font-size: 4rem;
  }
  .card {
    margin: 10px;
  }
  .img-paragraph {
    font-size: 1.2rem;
  }
}


@media(min-width: 576px) {
  .img-heading {
    font-size: 9rem;
  }
  .img-paragraph {
    font-size: 2.5rem;
  }
  #work-section .container-fluid {
    width: 80%;
  }
}


@media(min-width: 768px) {
  .img-heading {
    font-size: 9rem;
  }
}


@media(min-width: 992px) {
  .img-heading {
    font-size: 11rem;
  }
  #work-section .container-fluid {
    width: 95%;
  }
}


@media(min-width: 1200px) {
  .img-heading {
    font-size: 13rem;
  }
}


/* BODY */

body {
  font-size: 1.1rem;
}


/* NAVIGATION */

.nav-item {
  font-size: 1.3rem;
  padding: 20px;
}


.navbar {
  opacity: 0.8;
}


button:focus {
  outline: 0;
}


.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,0);
}


.nav-link:hover span {
 border-bottom: 2px solid #000;
 padding-bottom: 5px;
}


/* HOME-SECTION */

#home-section {
  background: url(../img/home-img-1.jpg) no-repeat;
  position: relative;
  height: 80vh;
  background-size: cover;
  box-shadow: -8px 28px 46px 0 rgba(84,84,84,.16);
}


.dark-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}


.img-heading {
  font-family: 'Coda Caption', sans-serif;
}


.img-paragraph {
  font-family: 'Dancing Script', cursive;
  color: #00ffff;
}


.img-period {
  color: rgba(244, 255, 31, 0.98);
}


/* WORK SECTION */

#work-section .card {
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.43);
}


/* COMMON STYLES */

#about-section, #work-section {
  box-shadow: -8px 28px 46px 0 rgba(84,84,84,.16);
  padding: 8rem 0;
}
